@font-face {
	font-family: "Baloo2";
	src: url("/assets/fonts/Baloo2.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

/* Few global rules to give a native feel to the app */
* {
	touch-action: none;
	-webkit-touch-callout: none;
}

html,
body {
	top: 0px;
	left: 0px;
	margin: 0px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	-ms-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

img {
	-webkit-touch-callout: none;
	-ms-touch-action: none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	touch-action: none;
	user-select: none;
	pointer-events: auto;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

button,
div {
	font-family: "Baloo2";
	color: white;
	font-size: 3vmin;
	text-shadow: 0 0.25vmin 1vmin rgba(0, 0, 0, 1);
}

canvas {
	position: fixed;
}

#HUD {
	display: none;
}
