@font-face {
	font-family: "Baloo2";
	src: url("/assets/fonts/Baloo2.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}


/* GLOBAL */
* {
	touch-action: none;
	-webkit-touch-callout: none;
}


html, body {
	top: 0px;
	left: 0px;
	margin: 0px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	-ms-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}


button, div {
	font-family: "Baloo2";
	color: white;
	font-size: 3vmin;
	text-shadow: 0 0.25vmin 1vmin rgba(0, 0, 0, 1);
}


img {
	-webkit-touch-callout: none;
	-ms-touch-action: none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	touch-action: none;
	user-select: none;
	pointer-events: auto;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

/*button {
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

button:after {
	position: absolute;
	background-color: white;
	content: "";
	height: 200%;
	left: -50%;
	top: -50%;
	width: 15%;
	opacity: 0.2;
	transform: rotate(35deg);
	transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

button:hover:after {
	left: 120%;
}*/


canvas {
	position: fixed;
}





/* ANIMATIONS */

@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}

	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}



.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}